<hr style="clear:both;visibility:hidden;">
<h1 style="text-align: center;">
  <% if current_user.has_role? :student %>
    My Grades
  <% elsif current_user.has_role? :staff %>
    Manage Grades For My Subjects
  <% else %>
    Manage Grades
  <% end %>
</h1>
<div id="table"></div>

<% content_for :modal do %>
  <% render 'form', grade:Grade.new %>
<% end %>

<script>
    var table = new Tabulator("#table", {
        maxHeight: "85%",
        layout: "fitColumns",
        placeholder: "No Data Set",
        columns: [
            {title: "Assessment ID", field: "assessment_id", sorter: "number", editor: <%= @editStatus %>},
            {title: "Assessment Title", field: "assessment_id", formatter: assessmentFormatter,sorter: "string", editor: false},
            {title: "User ID", field: "user_id", sorter: "number", editor: <%= @editStatus %>},
            {title: "User Name", field: "user_id", formatter: userFormatter, sorter: "string", editor: false},
            {title: "User Email", field: "user_id", formatter: userFormatterEmail, sorter: "string", editor: false},
            {title: "Grade", field: "grade", sorter: "number", editor: <%= @editStatus %>},
            <% if !current_user.has_role? :student %>
            {formatter:"buttonCross", width:40, align:"center", cellClick:deleteItem, cssClass: "DELETE_BUTTON_CLASS"}
            <% end %>        ],
        cellEdited: function (cell) {
            // This callback is called any time a cell is edited.
            console.log(cell.getRow().getData())
            $.ajax({

                url: '/grades/'+cell.getRow().getData().id,
                method: 'PATCH',
                dataType: 'json',
                data: {grade: cell.getRow().getData()},
                success: function () {
                    toastr.success('Edit was successful!')
                    table.replaceData()
                },
                error: function () {
                    toastr.error('Incorrect input or insufficient access!')
                    table.replaceData()
                }

            })
        },
    });

    $(document).ready(function () {
        table.setData("/grades");
    });

</script>
<button class="btn btn-primary" type="submit" onclick="MicroModal.show('modal-1')">New Grade</button>
<button class="btn btn-primary" onclick="table.replaceData()">Refresh Data</button>
