<table id="table">
  <thead>
  <tr>
    <th data-field="assessment">Assessment</th>
    <th data-field="user">User</th>
    <th data-field="grade">Grade</th>
  </tr>
  </thead>
</table>
<script>
    $(document).ready(function () {
        var $table = $('#table')

        $(function() {
            var data = <%= GradesHelper.to_data_html(@grades) %>
                $table.bootstrapTable({data: data})
        })

    });
</script>

<%= link_to 'New Grade', new_grade_path %>
