<div id="table"></div>

<% content_for :modal do %>
  <% render 'form', grade:Grade.new %>
<% end %>

<script>
    var table = new Tabulator("#table", {
        height: "311px",
        layout: "fitColumns",
        placeholder: "No Data Set",
        columns: [
            {title: "Assessment ID", field: "assessment_id", sorter: "string", width: 200, editor: true},
            {title: "Assessment Title", field: "assessment_id", sorter: "string", width: 200, editor: false},
            {title: "User ID", field: "user_id", sorter: "number", editor: true},
            {title: "User Email", field: "user_id", sorter: "string", editor: false},
            {title: "Grade", field: "grade", sorter: "number", editor: false},
            {formatter:"buttonCross", width:40, align:"center", cellClick:deleteItem}
        ],
        cellEdited: function (cell) {
            // This callback is called any time a cell is edited.
            console.log(cell.getRow().getData())
            $.ajax({

                url: '/grades/'+cell.getRow().getData().id,
                method: 'PATCH',
                dataType: 'json',
                data: {grade: cell.getRow().getData()},
                success: function () {
                    toastr.info('Edit was successful!')
                    alert('Edit was successful!')
                    table.replaceData()
                },
                error: function () {
                    alert('Edit was not successful!')
                }

            })
        },
    });

    $(document).ready(function () {
        table.setData("/grades");
    });

</script>
<button class="btn btn-primary" type="submit" onclick="MicroModal.show('modal-1')">New Assessment</button>

