<hr style="clear:both;visibility:hidden;">
<h1 style="text-align: center;">
  <% if current_user.has_role? :student %>
    My Assessments
  <% elsif current_user.has_role? :staff %>
    Manage Assessments For My Subjects
  <% else %>
    Manage Assessments
  <% end %>
</h1>
<div id="table"></div>

<% content_for :modal do %>
  <% render 'form', assessment:Assessment.new %>
<% end %>

<script>
    var table = new Tabulator("#table", {
        maxHeight: "85%",
        layout: "fitColumns",
        placeholder: "No Data Set",
        columns: [
            {title: "Subject ID", field: "subject_id", sorter: "number", editor: <%= @editStatus %>},
            {title: "Subject Title", field: "subject_id",  formatter: subjectFormatter, sorter: "string", editor: false},
            {title: "Assessment Name", field: "name", sorter: "string", editor: <%= @editStatus %>},
            {formatter:"buttonCross", width:40, align:"center", cellClick:deleteItem, cssClass: "DELETE_BUTTON_CLASS"}
        ],
        cellEdited: function (cell) {
            // This callback is called any time a cell is edited.
            console.log(cell.getRow().getData())
            $.ajax({

                url: '/assessments/'+cell.getRow().getData().id,
                method: 'PATCH',
                dataType: 'json',
                data: {assessment: cell.getRow().getData()},
                success: function () {
                    toastr.success('Edit was successful!')
                    table.replaceData()
                },
                error: function () {
                    toastr.error('Incorrect input or insufficient access!')
                    table.replaceData()
                }

            })
        },
    });

    $(document).ready(function () {
        table.setData("/assessments");
    });

</script>
<button class="btn btn-primary" type="submit" onclick="MicroModal.show('modal-1')">New Assessment</button>
<button class="btn btn-primary" onclick="table.replaceData()">Refresh Data</button>