<nav class="navbar navbar-light navbar-expand bg-light navigation-clean" style="height: 10vh;">
  <div class="container"><a class="navbar-brand" href="#">LibraryApp</a>
    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"></button>
    <div class="collapse navbar-collapse" id="navcol-1"><a href="/app/assets/stylesheets"><%= t('header.home') %></a>
      <% if signed_in? %>
        Signed in as: <%= current_user.email %>
        <%= button_to t('header.sign_out'), sign_out_path, method: :delete, :id => "loginButton", :class => "btn btn-primary ml-auto"%>
      <% end %>

    </div>
  </div>
</nav>