<nav class="navbar navbar-light navbar-expand bg-light navigation-clean" style="height: 10vh;">
  <div class="container"><a class="navbar-brand" href="#">LibraryApp</a>
    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"></button>
    <div class="collapse navbar-collapse" id="navcol-1"><a href="/app/assets/stylesheets"><%= t('header.home') %></a>
      <button class="btn btn-primary ml-auto" id="loginButton" type="button"><%= t('header.sign_in') %></button>
    </div>
  </div>
</nav>