<div class="container" style="height: 90vh;">
  <div class="row align-items-center" id="mainMenuRow">
    <div class="col">
    </div>
    <div class="col">
      <h3>No role has been assigned to this account. Please contact an administrator.</h3>
    </div>
    <div class="col">
    </div>
  </div>
</div>
</div>