<div class="container" style="height: 90vh;">
  <div class="row align-items-center" id="mainMenuRow">
    <div class="col">
      <a href="<%= grades_path %>" class="btn btn-sq-lg btn-primary">
        <i class="fas fa-graduation-cap fa-5x"></i><br/>
        Manage Grades For My Courses <br>
      </a>
    </div>
    <div class="col">
      <a href="<%= subjects_path %>" class="btn btn-sq-lg btn-info">
        <i class="fas fa-book fa-5x"></i><br/>
        Manage My Subjects <br>
      </a>
    </div>
    <div class="col">
      <a href="<%= assessments_path %>" class="btn btn-sq-lg btn-secondary">
        <i class="fas fa-microscope fa-5x"></i><br/>
        Manage My Assessments<br>
      </a>
    </div>
  </div>
</div>
</div>