<hr style="clear:both;visibility:hidden;">
<h1 style="text-align: center;">Manage users</h1>
<div id="table"></div>

<% content_for :modal do %>
  <%# render 'form', user:Users.new %>
<% end %>

<script>
    var table = new Tabulator("#table", {
        maxHeight: "85%",
        layout: "fitColumns",
        placeholder: "No Data Set",
        columns: [
            {title: "User ID", field: "id", sorter: "number",  editor: true},
            {title: "First Name", field: "firstname", sorter: "string",  editor: true},
            {title: "Last Name", field: "lastname", sorter: "string",  editor: true},
            {title: "Email Address", field: "email", sorter: "string", editor: false},
            {formatter:"buttonCross", width:40, align:"center", cellClick:deleteItem, cssClass: "DELETE_BUTTON_CLASS"}
        ],
        cellEdited: function (cell) {
            // This callback is called any time a cell is edited.
            console.log(cell.getRow().getData())
            $.ajax({

                url: '/admin/users/'+cell.getRow().getData().id,
                method: 'PATCH',
                dataType: 'json',
                data: {assessment: cell.getRow().getData()},
                success: function () {
                    toastr.success('Edit was successful!')
                    table.replaceData()
                },
                error: function () {
                    toastr.error('Incorrect input or insufficient access!')
                    table.replaceData()
                }

            })
        },
    });

    $(document).ready(function () {
        table.setData("/admin/index");
    });

</script>
<button class="btn btn-primary" type="submit" onclick="MicroModal.show('modal-1')">New User</button>
<button class="btn btn-primary" onclick="table.replaceData()">Refresh Data</button>