<p>
  <strong>Email: </strong> <%= @user.email %>
</p>
<p>
  <strong>User ID: </strong> <%= @user.id %>
</p>
<% if @user.course_id!=nil %>
  <% course = Course.find_by(id:@user.course_id) %>
  <p>
    <strong>Course ID: </strong> <%=  course.id %>
  </p>
  <p>
    <strong>Course Name: </strong> <%= course %>
  </p>
<% end %>

