<div class="container" style="height: 90vh;">
  <div class="row align-items-center" id="mainMenuRow">
    <div class="col">
      <a href="<%= grades_path %>" class="btn btn-sq-lg btn-primary">
        <i class="fa fa-user fa-5x"></i><br/>
        Manage Grades <br>
      </a>
    </div>
    <div class="col">
      <a href="<%= courses_path %>" class="btn btn-sq-lg btn-success">
        <i class="fa fa-user fa-5x"></i><br/>
        Manage Courses <br>
      </a>
    </div>
    <div class="col">
      <a href="<%= subjects_path %>" class="btn btn-sq-lg btn-info">
        <i class="fa fa-user fa-5x"></i><br/>
        Manage Subjects <br>
      </a>
    </div>
    <div class="col">
      <a href="#" class="btn btn-sq-lg btn-warning">
        <i class="fa fa-user fa-5x"></i><br/>
        Manage Users <br>
      </a>
    </div>
    <div class="col">
      <a href="<%= enrollments_path %>" class="btn btn-sq-lg btn-danger">
        <i class="fa fa-user fa-5x"></i><br/>
        Manage Enrollments<br>
      </a>
    </div>
  </div>
</div>
</div>