<table id="table">
  <thead>
  <tr>
    <th data-field="user">User</th>
    <th data-field="course">Course</th>
  </tr>
  </thead>
</table>
<script>
    $(document).ready(function () {
        var $table = $('#table')

        $(function() {
            var data = <%= EnrollmentsHelper.to_data_html(@enrollments) %>
                $table.bootstrapTable({data: data})
        })

    });
</script>

<%= link_to 'New Enrollment', new_enrollment_path %>
