<hr style="clear:both;visibility:hidden;">
<h1 style="text-align: center;"> Manage enrollments</h1>
<div id="table"></div>

<% content_for :modal do %>
  <% render 'form', enrollment:Enrollment.new %>
<% end %>

<script>
    //Build Tabulator
    var table = new Tabulator("#table", {
        maxHeight: "85%",
        layout: "fitColumns",
        placeholder: "No Data Set",
        columns: [
            {title: "User ID", field: "user_id", sorter: "string", editor: true},
            {title: "User Email", field: "user_id",  formatter:userFormatter, sorter: "string", editor: false},
            {title: "Subject ID", field: "subject_id", sorter: "number", editor: true},
            {title: "Subject Name", field: "subject_id",  formatter:subjectFormatter, sorter: "number", editor: false},
            <% if current_user.has_role? :admin %>
            {formatter:"buttonCross", width:40, align:"center", cellClick:deleteItem}
            <% end %>
        ],
        cellEdited: function (cell) {
            // This callback is called any time a cell is edited.
            console.log(cell.getRow().getData())
            $.ajax({

                url: '/enrollments/'+cell.getRow().getData().id,
                method: 'PATCH',
                dataType: 'json',
                data: {enrollment: cell.getRow().getData()},
                success: function () {
                    toastr.success('Edit was successful!')
                    table.replaceData()
                },
                error: function () {
                    toastr.error('Incorrect input or insufficient access!')
                    table.replaceData()
                }

            })
        },
    });

    $(document).ready(function () {
        table.setData("/enrollments");
    });

</script>
<button class="btn btn-primary" onclick="MicroModal.show('modal-1')">New Enrollment</button>
<button class="btn btn-primary" onclick="table.replaceData()">Refresh Data</button>
