<div id="example-table"></div>

<script>


    var courseMutator = function(value, data, type, params, component){
        var responseData;
        console.log(data)
        $.ajaxSetup({async: false});
        $.ajax({
            url: '/courses/'+data.course_id,
            dataType: 'json',
            success: function (data) {
                responseData = data.title;
            },
            error: function () {
                responseData = 'Not Found!';
            }
        });
        $.ajaxSetup({async: true});
        return responseData;
    }

    var userMutator = function(value, data, type, params, component){
        var responseData;
        console.log(data)
        $.ajaxSetup({async: false});
        $.ajax({
            url: '/admin/user/'+data.user_id,
            dataType: 'json',
            success: function (data) {
                responseData = data.email;
            },
            error: function() {
                responseData = 'Not Found!';
            }
        });
        $.ajaxSetup({async: true});
        return responseData;
    }

    //Build Tabulator
    var table = new Tabulator("#example-table", {
        height: "311px",
        layout: "fitColumns",
        placeholder: "No Data Set",
        columns: [
            {title: "User ID", field: "user_id", sorter: "string", width: 200, editor: true},
            {title: "User Email", field: "user_mail",  mutator:userMutator, sorter: "string", width: 200, editor: false},
            {title: "Course ID", field: "course_id", sorter: "number", editor: true},
            {title: "Course Name",  mutator:courseMutator,field: "course_name", sorter: "number", editor: false}
        ],
        cellEdited: function (cell) {
            // This callback is called any time a cell is edited.
            console.log(cell.getRow().getData())
            $.ajax({

                url: '/enrollments/'+cell.getRow().getData().id,
                method: 'PATCH',
                dataType: 'json',
                data: {enrollment: cell.getRow().getData()},
                success: function () {
                    toastr.info('Edit was successful!')
                    alert('Edit was successful!')
                    table.replaceData()
                },
                error: function () {
                    alert('Edit was not successful!')
                }

            })
        },
    });

    $(document).ready(function () {
        table.setData("/enrollments");
    });

</script>

<%= link_to 'New Course', new_course_path %>
