<table id="table">
  <thead>
  <tr>
    <th data-field="course_id">Course</th>
    <th data-field="user_id">User</th>
    <th data-field="description">Description</th>
  </tr>
  </thead>
</table>
<script>
    $(document).ready(function () {
        var $table = $('#table')

        $(function() {
            var data = <%= to_data_html(@subjects) %>
                $table.bootstrapTable({data: data})
        })

    });
</script>
<%= link_to 'New Course', new_course_path %>


<%= link_to 'New Subject', new_subject_path %>
