<hr style="clear:both;visibility:hidden;">
<h1 style="text-align: center;">
  <% if current_user.has_role? :staff %>
    Manage My Subjects
  <% elsif current_user.has_role? :student %>
    Enroll to new subject
  <% else %>
    Manage Subjects
  <% end %>
</h1>
<div id="table"></div>

<% content_for :modal do %>
  <% render 'form', subject: Subject.new %>
<% end %>

<script>

    //Build Tabulator
    var table = new Tabulator("#table", {
        maxHeight: "85%",
        layout: "fitColumns",
        ajaxResponse: function (url, params, response) {
            //url - the URL of the request
            //params - the parameters passed with the request
            //response - the JSON object returned in the body of the response.
            return response; //return the tableData property of a response json object
        },
        placeholder: "No Data Set",
        columns: [
            {title: "Subject ID", field: "id", sorter: "string", editor: <%= @editStatus %>},
            {title: "Course ID", field: "course_id", sorter: "number", editor: <%= @editStatus %>},
            {title: "Course Name", field: "course_id", formatter: courseFormatter, sorter: "string", width: 200, editor: false},
            {title: "Lecturer ID", field: "user_id", sorter: "number", editor: <%= @editStatus %>},
            {title: "Lecturer Name", field: "user_id", formatter: userFormatter, sorter: "string", width: 200, editor: false},
            {title: "Title", field: "title", sorter: "string", editor: <%= @editStatus %>},
            {title: "Description", formatter:"textarea", field: "description", sorter: "string", editor: false},
            <% if current_user.has_role? :admin %>
            {formatter:"buttonCross", width:40, align:"center", cellClick:deleteItem, cssClass: "DELETE_BUTTON_CLASS"},
            <% elsif  current_user.has_role? :student%>
            {formatter:addIcon, width:40, align:"center", cellClick:enrollToCourse}
            <% end %>        ],
        cellEdited: function (cell) {
            // This callback is called any time a cell is edited.
            $.ajax({

                url: '/subjects/' + cell.getRow().getData().id,
                method: 'PATCH',
                dataType: 'json',
                data: {subject: cell.getRow().getData()},
                success: function () {
                    toastr.success('Edit was successful!')
                    table.replaceData()
                },
                error: function () {
                    toastr.error('Incorrect input or insufficient access!')
                    table.replaceData()
                }

            })
        },
    });

    $(document).ready(function () {
        table.setData("/subjects");
    });

</script>
<button class="btn btn-primary" type="submit" onclick="MicroModal.show('modal-1')">New Subject</button>
<button class="btn btn-primary" onclick="table.replaceData()">Refresh Data</button>