<hr style="clear:both;visibility:hidden;">
<h1 style="text-align: center;">Manage courses</h1>
<div id="table"></div>

<% content_for :modal do %>
  <% render 'form', course:Course.new %>
<% end %>

<script>

    //Build Tabulator
    var table = new Tabulator("#table", {
        maxHeight: "85%",
        layout: "fitColumns",
        placeholder: "No Data Set",
        columns: [
            {title: "ID", field: "id", sorter: "number", editor: false},
            {title: "Type", field: "courseType", sorter: "string", editor: true},
            {title: "Title", field: "title", sorter: "string", editor: true},
            {title: "Year", field: "year", sorter: "number", editor: true},
            <% if current_user.has_role? :admin %>
            {formatter:"buttonCross", width:40, align:"center", cellClick:deleteItem, cssClass: "DELETE_BUTTON_CLASS"}
            <% end %>
        ],
        cellEdited: function (cell) {
            $.ajax({

                url: '/courses/'+cell.getRow().getData().id,
                method: 'PATCH',
                dataType: 'json',
                data: {course: cell.getRow().getData()},
                success: function () {
                    toastr.success('Edit was successful!')
                },
                error: function () {
                    toastr.error('Incorrect input or insufficient access!')
                    table.replaceData()
                }

            })
        },
    });

    $(document).ready(function () {
        table.setData("/courses");
    });

</script>
<button class="btn btn-primary" type="submit" onclick="MicroModal.show('modal-1')">New Course</button>
<button class="btn btn-primary" onclick="table.replaceData()">Refresh Data</button>