// Place all the styles related to the home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-sq-lg {
  width: 100% !important;
  height: 150px !important;
}

#mainMenuRow{

  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: darkblue;
  height: 50%;
  width: inherit;
  position: relative;
  top: 30%

}